@font-face {
    font-family: 'homestead';
    src: url('/assets/fonts/homestead-regular-webfont.eot');
    src: url('/assets/fonts/homestead-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/homestead-regular-webfont.woff') format('woff'),
         url('/assets/fonts/homestead-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/homestead-regular-webfont.svg#homestead_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lavanderia';
    src: url('/assets/fonts/lavanderia_sturdy-webfont.eot');
    src: url('/assets/fonts/lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/lavanderia_sturdy-webfont.woff') format('woff'),
         url('/assets/fonts/lavanderia_sturdy-webfont.ttf') format('truetype'),
         url('/assets/fonts/lavanderia_sturdy-webfont.svg#lavanderia_sturdysturdy') format('svg');
    font-weight: normal;
    font-style: normal;
}

// @import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
// @font-face {
//     font-family: 'Droid Sans';
//     src: url('/assets/fonts/droidsans-webfont.eot');
//     src: url('/assets/fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/assets/fonts/droidsans-webfont.woff') format('woff'),
//          url('/assets/fonts/droidsans-webfont.ttf') format('truetype'),
//          url('/assets/fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'droid bold';
//     src: url('/assets/fonts/droidsans-bold-webfont.eot');
//     src: url('/assets/fonts/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/assets/fonts/droidsans-bold-webfont.woff') format('woff'),
//          url('/assets/fonts/droidsans-bold-webfont.ttf') format('truetype'),
//          url('/assets/fonts/droidsans-bold-webfont.svg#droid_sansbold') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'sfns_displaybold';
    src: url('/assets/fonts/system_san_francisco_display_bold-webfont.eot');
    src: url('/assets/fonts/system_san_francisco_display_bold-webfont.eot?#iefix') format('embedded-opentype'),
         // url('/assets/fonts/system_san_francisco_display_bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/system_san_francisco_display_bold-webfont.woff') format('woff'),
         url('/assets/fonts/system_san_francisco_display_bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/system_san_francisco_display_bold-webfont.svg#sfns_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

// @font-face {
//     font-family: 'sfns_displayregular';
//     src: url('/assets/fonts/system_san_francisco_display_regular-webfont.eot');
//     src: url('/assets/fonts/system_san_francisco_display_regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/assets/fonts/system_san_francisco_display_regular-webfont.woff2') format('woff2'),
//          url('/assets/fonts/system_san_francisco_display_regular-webfont.woff') format('woff'),
//          url('/assets/fonts/system_san_francisco_display_regular-webfont.ttf') format('truetype'),
//          url('/assets/fonts/system_san_francisco_display_regular-webfont.svg#sfns_displayregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'sfns_displaythin';
//     src: url('/assets/fonts/system_san_francisco_display_thin-webfont.eot');
//     src: url('/assets/fonts/system_san_francisco_display_thin-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/assets/fonts/system_san_francisco_display_thin-webfont.woff2') format('woff2'),
//          url('/assets/fonts/system_san_francisco_display_thin-webfont.woff') format('woff'),
//          url('/assets/fonts/system_san_francisco_display_thin-webfont.ttf') format('truetype'),
//          url('/assets/fonts/system_san_francisco_display_thin-webfont.svg#sfns_displaythin') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

@font-face {
    font-family: 'sfns_displayultralight';
    src: url('/assets/fonts/system_san_francisco_display_ultralight-webfont.eot');
    src: url('/assets/fonts/system_san_francisco_display_ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         // url('/assets/fonts/system_san_francisco_display_ultralight-webfont.woff2') format('woff2'),
         url('/assets/fonts/system_san_francisco_display_ultralight-webfont.woff') format('woff'),
         url('/assets/fonts/system_san_francisco_display_ultralight-webfont.ttf') format('truetype'),
         url('/assets/fonts/system_san_francisco_display_ultralight-webfont.svg#sfns_displayultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}


html {
    font-family: 'sfns_displayultralight', _sans;
    line-height: 1;
    color: $black;
}

a {
    color: $dgreen;
    text-decoration: none;
    transition: all ease-in $speed;
    &:hover {
        color: $lgreen;
        transition: all ease-in $speed;
    }
}

h1, h2, h3, h4 {
    font-family: homestead, _sans;
}

h1 {
    margin: 10px 20% 80px 20%;
    padding-left: 120px;
    max-width: $max-width - 120px;
    position: relative;
    color: $xdgreen;
    font-size: rem-calc(36);

    .avatar {
        width: 100px;
        height: auto;
        position: absolute;
        top: -40px;
        left:0 ;
        z-index: 9;
        border-radius: 999px;
        border: 5px solid $dgreen;
    }
    small {
        display: block;
        color: $black;
        font-size: rem-calc(24);
    }
}

.main {
    h2, h3, h4, p, ul {
        margin-left: 20%;
        margin-right: 20%;
    }
    h2 {
        color: $xdgreen;
        font-size: rem-calc(24);
        line-height: rem-calc(36);
    }

    h3 {
        color: $dgreen;
        font-size: rem-calc(18);
        line-height: rem-calc(30);
    }

    h4 {
        color: $black;
        font-size: rem-calc(14);
        line-height: rem-calc(24);
    }

    p {
        font-size: rem-calc(16);
        line-height: rem-calc(24);
        margin-bottom: 24px;
    }

    blockquote {
        float: left;
        font-family: homestead, _sans;
        font-size: rem-calc(24);
        margin: 6px 30px 24px 10%;
        // border-top: 4px solid $lgreen;
        // border-bottom: 4px solid $lgreen;
        border-style: solid;
        border-width: 12px 0;
        border-image: url('/assets/img/gui/grid-pattern.png') 24 fill repeat;

        padding: 12px 0;
        text-transform: uppercase;
        color: $dgreen;
        max-width: 300px;

    }

    strong,
    b {
        font-family: 'sfns_displaybold', _sans;
    }

    p:first-child:first-letter {
        font-family: 'sfns_displaybold', _sans;
        border-bottom: 4px solid $dgreen;
        color: $lgreen;
        font-size: rem-calc(60); //4rem
        line-height: rem-calc(58);
        float: left;
        margin: -7px 10px 0px -11px;
        padding: 10px 10px 0 10px;
        background: $dgreen;
        display: block;
        border-radius: 4px;
        text-align: center;
    }
}

@media #{$medium-only} {
    h1 {
        margin:0 10% 60px 10%;
    }
    .main {
        h2, h3, h4, p, ul {
            margin-left: 10%;
            margin-right: 10%;
        }
        blockquote {
            margin: 6px 30px 24px 10%;
        }
    }
}

@media #{$small-only} {
    h1 {
        margin:0 20px 40px 20px;
        font-size: rem-calc(24);
        padding-left: 80px;
        max-width: $max-width - 80px;
        small {
            font-size: rem-calc(18);
        }
        .avatar {
            width: 60px;
            top: -30px;
        }
    }
    .main {
        h2, h3, h4, p, ul {
            margin-left: 20px;
            margin-right: 20px;
        }
        blockquote {
            float: none;
            margin: 0 auto 24px auto;
        }
    }
}
