HTML { height:100%; overflow-y:scroll; overflow-x:hidden; }
BODY { height:100%; font-family: droid_sansregular, sans-serif; font-size:75%; color:#555; line-height:1.5em; }

H1, H2, H3, H4 { font-family: homestead_regularregular, sans-serif; font-weight:normal; }
H1 { margin:0 0 8px 0; color:#87a3ac; background: -webkit-gradient(linear, left top, left bottom, from(#aecdd2), to(#87a3ac)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size:2em; line-height:1em; }
STRONG, B { font-family: droid_sansbold, sans-serif; font-weight:normal; }
A { color:#80a997; text-decoration:underline; font-family: droid_sansbold, sans-serif; }
A:hover { color:#87a3ac; text-decoration:underline; font-family: droid_sansbold, sans-serif; }

A.bigbutton { width:132px; height:44px; padding:15px 12px 12px 80px; background:url(/assets/img/buttons/big_more.png) no-repeat; z-index:12; position:absolute; color:#996600; text-decoration:none; }
A.bigbutton SPAN { font-family: homestead_regularregular, sans-serif; font-weight:normal; font-size:1.2em; line-height:1.25em; margin:0; padding:0; }
A.bigbutton H2 { font-family: droid_sansregular, sans-serif; font-weight:normal; font-size:0.8em; margin:0; padding:0; }

.wrapper { display:block; min-height:100%; _height:100%; width:100%; position: absolute; top: 0px; z-index: 0; margin:0px auto; }
.main { background:url(/assets/img/default/main_bground_gradient.png) repeat-x top center #FFF; margin-bottom:265px; }
.bikers { 
    background:url(/assets/img/default/main_bground_bikers.jpg) no-repeat top center;
    margin-bottom:293px;
}
.ripborder { background:url(/assets/img/default/main_bground_ripborder.png) repeat-x 0 499px; }
.headerContent, .footerContent { width:960px; margin:0 auto; }
.mainContent        { width:880px; min-height:334px; /* padding: 0 8px; */ padding: 51px 51px 0  51px; margin:0 auto; background: url(/assets/img/default/content_bground.png) no-repeat top center; }
.home .mainContent  { width:974px; margin:0 auto; background:none; }


/* tooltip */
.tooltip { 
	display:none; 
	background:transparent url(/assets/img/default/tooltip_bground.png) no-repeat; 
	height:33px; 
	width:184px; 
	text-align:center; 
	overflow:hidden; 
	padding:6px 8px 0 8px; 
	color:#960; 
	font-family:droid_sansbold, sans-serif; 
	font-weight:normal; 
	font-size:1em;
	.bottom { 
		background:url(/assets/img/default/tooltip_bground.png) no-repeat 0 -39px; 
		padding:12px 8px 0 8px; 
		height:27px; 
	}

}
.tooltipDown { 
	display:none; 
	background:transparent url(/assets/img/default/tooltip_bground.png) no-repeat 0 -39px; 
	padding:11px 8px 0 8px; 
	height:28px; 
	width:184px; 
	text-align:center; 
	overflow:hidden; 
	color:#960; 
	font-family:droid_sansbold, sans-serif; 
	font-weight:normal; 
	font-size:1em; 
}

/* helpers */
.last { 
	margin-right:0 !important; 
}
.clearfix { 
	display: inline-block; 
	&:after { 
		content: "."; 
		display: block; 
		clear: both; 
		visibility: hidden; 
		line-height: 0; 
		height: 0; 
	}
}