
body {
	background: $white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	min-height: 100vh;
}

.main {
	flex: 1 1 auto;
	align-self: center;
	article {	
		max-width: $main-width;
	}
}

#preloader {
    position: absolute;
    z-index: 1000;
    background: rgba(255, 255, 255, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loading {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
/*    width: 100px;
    height: 100px;*/
    width: 20%;
    height: 20%;
    max-height: 100px;
    max-width: 100px;
}