* {
	-webkit-text-size-adjust: none;
	outline: none;
}

body {
	background: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	min-height: 100vh;
}

.main {
	flex: 1 1 auto;
	align-self: center;
	padding: 0 0 40px 0;
	article {	
		max-width: $main-width;
	}
}