.wrapper { 
	display:block; 
	min-height:100%; 
	_height:100%; 
	width:100%; 
	position: absolute; 
	top: 0px; 
	z-index: 0; 
	margin:0px auto;
}
.main { 
	// background:url(/assets/img/default/main_bground_gradient.png) repeat-x top center #FFF; 
	margin:0 auto 265px auto ; 
	min-height: 800px;
	max-width: $max-width;
}

h1 {
	background: rgba(red, 0.3);
}
// .bikers { 
//     background:url(/assets/img/default/main_bground_bikers.jpg) no-repeat top center;
//     margin-bottom:293px;
// }
// .ripborder { 
// 	background:url(/assets/img/default/main_bground_ripborder.png) repeat-x 0 499px;
// }
// .headerContent, .footerContent { 
// 	width:960px; 
// 	margin:0 auto; 
// }
// .mainContent { //maincontent for default template
// 	width:880px; 
// 	min-height:334px; 
// 	padding: 51px 51px 0  51px; 
// 	margin:0 auto; 
// 	background: url(/assets/img/default/content_bground.png) no-repeat top center; 
// }

// .mainContent { //maincontent for homepage
// 	width:974px; 
// 	margin:0 auto; 
// 	background:none; 
// 	min-height:334px; 
// 	padding: 51px 51px 0  51px; 
// }