footer { 
    background: $dgreen;
    position: relative;
	flex: 0 1 24px;
	color: white;
	font-weight: bold;
	text-align: center;
	@include font-size(14px);

	&:after {	
		background: url(/assets/img/gui/horizon-drybrush.svg);
		width: 100%;
		height: 15px;
		content: "";
		display: block;
		position: absolute;
		top: -15px;
	}
}