footer { 
	height:215px;
	background: $dgreen;
	position: relative;
	&:after {	
		background: url(/assets/img/gui/horizon-drybrush.svg);
		width: 100%;
		height: 15px;
		content: "";
		display: block;
		position: absolute;
		top: -15px;
	}


	padding-top:20px; 
	position: absolute; 
	left: 0px; 
	bottom: 0px; 
	width: 100%; 
	display: block; 
	z-index: 999; 
	section { 
		float:left; 
		width:219px; 
		padding:18px 0 0 0; 
		margin-right:28px; 
		color:#FFF; 
	}

	// h1 { 
	// 	color:#FFF; 
	// 	-webkit-text-fill-color:#FFF; 
	// 	-webkit-text-shadow:1px 1px 1px #444; 
	// 	text-shadow:1px 1px 1px #444; 
	// }
	// p { 
	// 	margin:8px 0; 
	// }
	// a:link,
	// a:active, 	
	// a:visited { 
	// 	color:#ffcc00; 
	// 	text-decoration:none; 
	// 	font-family: droid_sansregular, sans-serif; 
	// }
	// a:hover { 
	// 	color:#ffcc00; 
	// 	text-decoration:underline; 
	// }
	// b { 
	// 	display:inline-block; 
	// 	width:80px; 
	// }
}

// footer UL { margin:0; padding:0; }
// footer LI { list-style:none; width:40px; height:41px; float:left; margin:0 1px 1px 0; }
// footer LI A { text-indent:-9000px; width:40px; height:41px; background:url(/assets/img/footer/icons.png) no-repeat; display:block; overflow:hidden; }
// footer .twitter-icon	{ background-position:0px 0px; }
// footer .facebook-icon	{ background-position:-40px 0px; }
// footer .vimeo-icon		{ background-position:-80px 0px; }
// footer .youtube-icon	{ background-position:-120px 0px; }
// footer .flickr-icon		{ background-position:-160px 0px; }
// footer .github-icon		{ background-position:0px -41px; }
// footer .spotify-icon	{ background-position:-40px -41px; }
// footer .behance-icon	{ background-position:-80px -41px; }
// footer .linkedin-icon	{ background-position:-120px -41px; }
// footer .skype-icon		{ background-position:-160px -41px; }

// footer .tools LI { height:44px; width:42px; margin:0 8px 8px 0; }
// footer .tools LI A { height:44px; width:42px; }
// footer .modx-icon		{ background-position:0px -82px; }
// footer .wordpress-icon	{ background-position:-42px -82px; }
// footer .magento-icon	{ background-position:-84px -82px; }
// footer .joomla-icon		{ background-position:-126px -82px; }
// footer .jquery-icon		{ background-position:-168px -82px; }
// footer .html-icon		{ background-position:0px -126px; }
// footer .css-icon		{ background-position:-42px -126px; }

// footer FORM { position:relative; }
// footer INPUT[type=text] { font-family:droid_sansregular, sans-serif; -webkit-border-radius: 8px; border-radius: 8px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; border:0; background:#FFF; padding:0 8px; width:203px; height:30px; outline:none; }
// footer INPUT[type=submit] { background:transparent url(/assets/img/footer/submit_button.png) no-repeat; width:162px; height:40px; color:#FFF; border:0; padding:0 0 4px 20px; font-size:1.2em; font-family:homestead_regularregular, sans-serif; position:absolute; right:-8px; }