header { 
	min-height:400px;
	width: 100%; 
	position: relative;
	background: linear-gradient(top, $lblue 0%, $lgreen 100%);
	overflow: hidden;
	&:after {
		content: "";
		width: 100%;
		height: 30px;
		display: block;
		position: absolute;
		bottom: -15px;
		left: 0;
		z-index: 5;
		background: url(/assets/img/gui/header-drybrush.svg);
	}

	nav.sub-navigation {
		height: 40px;
		width: 100%;
		background: $dgreen;
		position: fixed;
		z-index: 10;
		div {
			width: $max-width;
			margin: 0 auto;
			.social {
				float: left;
				.icon {
					width: 20px;
					height: 20px;
					fill: $dgreen;
					background-color: tint($dgreen, 30%);
					border-radius: 50%;
					padding: 4px;
					margin: 6px 6px 0 0;
					transition: all $easing $speed;
				}
				a:hover,
				a.active {
					.icon {
						background-color: $white;
						transition: all $easing $speed;
					}
				}
			}
			.language {
				float: right;
				a {
					display: block;
					width: 20px;
					height: 20px;
					padding: 8px 4px 0 4px;
					text-align: center;
					// font-weight: 700;
			        font-family: 'sfns_displaybold', _sans;
					background-color: tint($dgreen, 30%);
					color: $dgreen;
					border-radius: 50%;
					margin: 6px 0 0 6px;
					transition: all $easing $speed;
					&:hover,
					&.active {
						background-color: $white;
						transition: all $easing $speed;
					}
				}
			}
			.social,
			.language {
			}
			li {
				float: left;
				a {
					color: $white;
					display: block;
					font-weight: 400;
					font-size: rem-calc(12);
				}
			}
		}
	}

	nav.main-navigation {
		background: rgba($dgreen, .2);
		height: 80px;
		width: 100%;
		margin-top: 40px;
		font-size: rem-calc(14);
		position: fixed;
		z-index: 1000;
		transition: all $easing $speed;
		ul {
			max-width: $max-width;
			margin: 0 auto;
			position: relative;
			li {
				position: absolute;
				top: 0;
				transition: all $easing $speed;
				&:nth-of-type(1){
					left: 8%;
				}
				&:nth-of-type(2){
					left: 30%;
				}
				&:nth-of-type(3){
					left: 60%;
				}
				&:nth-of-type(4){
					left: 78%;
				}
				a {
					color: $black;
					display: block;
					padding: 31px 20px;
					position: relative;
					font-weight: 700;
					font-size: rem-calc(18);
			        font-family: 'sfns_displaybold', _sans;
					transition: all $easing $speed;
					&:after {
						position: absolute;
						z-index: 10;
						top: 60px;
						content: "";
						height: 5px;
						background: $dgreen;
						width: 0%;
						margin-left: -0%;
						left: 50%;
						transition: all $easing $speed;
					}

					&:hover:after,
					&.active:after {
						top: 60px;
						width: 20%;
						margin-left: -10%;
						left: 50%;
						transition: all $easing $speed;
					}
					&:hover {
						color: $dgreen;
					}
				}
			}


		}

		.logo {
			display: block;
			top: -58px;
			margin-left: -80px;
			width: 160px;
			height: auto;
			position: absolute;
			left: 50%;
			overflow: visible;
			transition: all $easing $speed;
		}
		.logo-shield {
			width: 120px;
			height: auto;
			margin: 0 20px;
			z-index: 1;
			position: relative;
			transition: all $easing $speed;
		}
		.logo-bike {
			width: 70px;
			height: auto;
			display: block;
			margin-left: -35px;
			position: absolute;
			z-index: 2;
			left: 50%;
			top: 28px;
			transition: all $easing $speed;
		}
		.logo-text {
			width: 160px;
			height: auto;
			display: block;
			margin-top: -36px;
			position: relative;
			z-index: 3;
			transition: all $easing $speed;
			opacity: 1;
		}
		.logo-shadow {
			width: 170px;
			height: auto;
			margin: 0 -5px;
			position: absolute;
			top: 12px;
			z-index: 0;
			-webkit-filter:blur(5px);
			filter:blur(5px);
			transition: all $easing $speed;
			opacity: 1;
		}

		&.sticky {
			height: 0px;
			transition: all $easing $speed;
			&.main-navigation {
				ul {
					li {
						transition: all $easing $speed;
						top: -40px;
						&:nth-of-type(1){
							left: 28.5%;
						}
						&:nth-of-type(2){
							left: 40%;
						}
						&:nth-of-type(3){
							left: 54%;
						}
						&:nth-of-type(4){
							left: 62.5%;
						}
						a {
							padding: 14px 10px;
							font-size: rem-calc(12);
							transition: all $easing $speed;
							&:hover {
								color: $black;
							}

							&:after {
								transition: all $easing $speed;
								background-color: tint($dgreen, 30%);
								height: 3px;
								top: 30px;
							}
						}
					}
				}


			}
			.logo {
				margin-left: -45px;
				width: 90px;
				top: -45px;
				transition: all $easing $speed;
			}
			.logo-shield {
				width: 50px;
				margin: 0 20px;
				transition: all $easing $speed;
			}
			.logo-bike {
				width: 26px;
				margin-left: -13px;
				top: 14px;
				transition: all $easing $speed;
			}
			.logo-text {
				width: 90px;
				margin-top: -16px;
				transition: all $easing $speed;
			}
			.logo-shadow {
				width: 100px;
				top: -10px;
				transition: all $easing $speed;
			}
		}
	}

	.horizon {
		position: absolute;
		z-index: 1;
		left: 0;
		bottom: 3px;
		background: url(/assets/img/gui/horizon-drybrush.svg);
		width: 100%;
		height: 30px;
		&:after {
			content: " ";
			background: url(/assets/img/gui/header-bikers-wide.png) no-repeat bottom center;
			display: block;
			width: 100%;
			height: 185px;
			position: absolute;
			bottom: 20px;	
		}
	}

	.clouds_one {
		background:url("/assets/img/header/cloud-1.png") repeat-x;
		opacity: 0.8;
		position:absolute;
		z-index: 0;
		left:0;
		top:0;
		height:100%;
		width:300%;
		animation:clouds 200s linear infinite;
	}
	
	.clouds_two {
		background:url("/assets/img/header/cloud-2.png") repeat-x;
		opacity: 0.7;
		position:absolute;
		z-index: 0;
		left:0;
		top:80px;
		height:100%;
		width:300%;
		animation:clouds 350s linear infinite;
	}
	
	.clouds_three {
		background:url("/assets/img/header/cloud-3.png") repeat-x;
		opacity: 0.9;
		position:absolute;
		z-index: 0;
		left:0;
		top:0px;
		height:100%;
		width:300%;
		animation:clouds 500s linear infinite;
	}

	@keyframes clouds {
		0% {
			left:0;
		}
	
		100% {
			left:-200%;
		}
	}

}

h1 {
	margin: 10px 20% 80px 20%;
	padding-left: 120px;
	max-width: $max-width - 120px;
	position: relative;
	.avatar {
		width: 100px;
		height: auto;
		position: absolute;
		top: -40px;
		left:0 ;
		z-index: 9;
		border-radius: 999px;
		border: 5px solid $dgreen;
	}
}