.mainmenu {
	background: rgba($dgreen, .2);
	height: 80px;
	width: 100%;
	margin-top: 40px;
	@include font-size(14px);
	position: fixed;
	z-index: 10;
	transition: all $easing $speed;
	ul {
		max-width: $max-width;
		margin: 0 auto;
		display: flex;
		transition: all $easing $speed;
		li {
			transition: all $easing $speed;
			flex: 1 1 auto;
			text-align: center;
			a {
				color: $black;
				display: block;
				padding: 30px 10px 31px 10px;
				position: relative;
				font-weight: $bold;
				@include font-size($base-font-size);
				transition: all $easing $speed;
				&:after {
					position: absolute;
					z-index: 10;
					top: 60px;
					content: "";
					height: 5px;
					background: $dgreen;
					width: 0%;
					margin-left: -0%;
					left: 50%;
					transition: all $easing $speed;
				}

				&:hover:after,
				&.active:after {
					top: 60px;
					width: 20%;
					margin-left: -10%;
					left: 50%;
					transition: all $easing $speed;
				}
			}
			&:nth-of-type(3){
				a:after {
					content: none;
				}
			}
		}
	}
}

.header--sticky {
	.mainmenu {
		height: 0px;
		transition: all $easing $speed;
		ul {
			max-width: 520px;
			margin: -40px auto 0 auto;
			transition: all $easing $speed;

			li {
				transition: all $easing $speed;
				a {
					padding: 14px 10px;
					@include font-size(12px);
					color: $white;
					transition: all $easing $speed;
					&:hover {
						color: $black;
					}
					&:after {
						transition: all $easing $speed;
						background-color: lighten($dgreen, 10%);
						height: 3px;
						top: 30px;
					}
				}
			}
		}
	}
}

@media #{$small} {
	.mainmenu {
		height: 0;
		width: auto;
		left: 50%;
		margin-left: -70px;
		ul {
			margin: 0 auto 0 auto;
			li {
				display: none;
				&:nth-child(3) {
					display: block;
					a {
						padding: 0;
						&:after {
							content: none;
						}
					}
				}
			}
		}
	}

	.header--sticky {
		.mainmenu {
			margin-left: -45px;
			ul {
				margin: -40px auto 0 auto;
			}
		}
	}
}