@mixin clearfix {	
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin font-size($pxWidth){
  font-size:$pxWidth;
  font-size:rem-calc($pxWidth);
}

@mixin line-height($pxWidth){
  line-height:$pxWidth;
  line-height:rem-calc($pxWidth);
}