/* Close Button */
.close-button {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: $lgreen;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.offcanvas {
	background: $grey;
	width: 100%;
	height: 100vh;
	// padding-top: 40px;
	display: flex;
	justify-content: center;
	position: relative;
}

.offcanvas__list {
	margin-top: 10vh;
	align-self: top;
	text-align: center;
}

.offcanvas__list a {
	display: block;
	padding: 20px;
	font-weight: 700;
	@include font-size($base-font-size);
	position: relative;
	color: $white;
    // font-family: 'sfns_displaybold', _sans;


	&:after {
		position: absolute;
		z-index: 10;
		top: 42px;
		content: "";
		height: 5px;
		background: $black;
		width: 20%;
		margin-left: -10%;
		left: 50%;
		transition: all $easing $speed;
	}

	&:hover:after,
	&.active:after {
		// top: 60px;
		width: 20%;
		margin-left: -10%;
		left: 50%;
		transition: all $easing $speed;
		background: $lgreen;
	}
}

.offcanvas__social {
	position: fixed;
	bottom: 20px;
	z-index: 10;

	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;

}

.offcanvas__icon {
	width: 30px;
	height: 30px;
	fill: $grey;
	background-color: $dgreen;
	border-radius: 50%;
	padding: 4px;
	overflow: visible;
	margin: 8px 6px 0 0;
	transition: all $easing $speed;
}