/*-----------------------------------------------------------------------------------/
/ Colors
/-----------------------------------------------------------------------------------*/

$black:		#444;
$grey:		#555;
$white:		#FFF;

$dblue:		#87a3ac;
$lblue: 	#abcfda;
$dgreen: 	#80a997;
$xdgreen: 	#739888;
$lgreen: 	#d9e3cf;

/*-----------------------------------------------------------------------------------/
/ Units
/-----------------------------------------------------------------------------------*/
$max-width: 1170px;
$speed: 300ms;
$easing: ease-in-out;